<style>
body {
    background-image: url('img_girl.jpg');
}
</style>

.p
    font-family: "Bookman Old Style";
    font-weight: 300;
}

.p2 {
    font-family: "Bookman Old Style";
    font-weight: bold;
}